{% load staticfiles %}
<html>
    <head>
        <title>The Rusted Penelope</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Vast+Shadow" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
      <h1>
        <p>-The-</p>
        <p>Rusted</p>
        <p>Penelope</p>
      </h1>
      <div class="secrets">
        <a href="blog/">##</a>
      </div>
    </body>
</html>
